log.txt
addrspace.o
bitmap.o
console.o
exception.o
interrupt.o
list.o
machine.o
main.o
mipssim.o
progtest.o
scheduler.o
stats.o
switch.o
synchlist.o
synch.o
sysdep.o
system.o
thread.o
threadtest.o
timer.o
translate.o
utility.o
nachos
